<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="navbar-brand" href="/">CONTACT</a>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="/">accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/produit">produits</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/apropos">à propos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">contacts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/formulaire">formulaires</a>
          </li>
        </ul>
      </nav>
</header>