<%- include('../views/partials/head'); %>

<%- include('../views/partials/header'); %>
<script>
var send = <%= send %>;
if(send){
    alert("Votre requête est bien envoyée.");
}

</script>


<form action="" method="POST" id="form" class="form-vertical mx-2">
    <div class="mb-3">
        <label for="civility" class="form-label" >Civilité : </label><br>
        <select name="civility" id="civility" form="form" required>
            <option value="">--Please choose an option--</option>
            <option value="homme">homme</option>
            <option value="femme">femme</option>
            <option value="nonbinaire">non-binaire</option>
        </select>
      </div>
    <div class="mb-3">
      <label for="nom" class="form-label">nom :  </label><br>
      <input type="text" name="nom" id="nom" required pattern="[a-zA-Z0-9\s]+">
    </div>
    <div class="form-group">
        <label for="prenom" class="form-label">prénom : </label><br>
        <input type="text" name="prenom" id="prenom" required pattern="[a-zA-Z0-9\s]+">
    </div>
    <div class="form-group">
        <label for="email" class="form-label">email: </label><br>
        <input type="email" name="email" id="email" required pattern="^.+@.+\..{1,3}$">
      </div>
    <div class="form-group">
        <label for="adress" class="form-label">adresse : </label><br>
        <input type="text" name="adress" id="adress" required pattern="[a-zA-Z0-9\s]+">
    </div>
    <div class="form-group">
        <label for="postcode" class="form-label">code postal : </label><br>
        <input type="text" name="postcode" id="postcode" required pattern="[a-zA-Z0-9\s]+">
    </div>
    <div class="form-group">
        <label for="ville" class="form-label">ville : </label><br>
        <input type="text" name="ville" id="ville" required pattern="[a-zA-Z0-9\s]+">
    </div>
    <div class="form-group">
        <label for="pays" class="form-label">pays : </label><br>
        <input type="text" name="pays" id="pays" required pattern="[a-zA-Z0-9\s]+">
    </div>
    <div class="form-group">
        <label for="profession" class="form-label">profession : </label><br>
        <input type="text" name="profession" id="profession" required pattern="[a-zA-Z0-9\s]+">
    </div>
    <div class="form-group">
        <label for="message" class="form-label">message : </label><br>
        <textarea id="message" name="message" cols="40" rows="5" pattern="[a-zA-Z0-9\s]+"></textarea>
    </div>
      <input type="submit" value="Submit">
  </form>