<%- include('../views/partials/head'); %>

<%- include('../views/partials/header'); %>

<h1>formulaire</h1>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <td>civilité</td>
            <td>prenom</td>
            <td>nom</td>
            <td>info</td>
            <!-- <td>mail</td>
            <td>adresse</td>
            <td>code postal</td>
            <td>ville</td>
            <td>pays</td>
            <td>profession</td> -->
        </tr>
    </thead>
    <% for(var i = 0; i < listcontact.length; i++){ %>
        <tr>
            <td><%=listcontact[i].civility%></td>
            <td><%=listcontact[i].prenom%></td>
            <td><%=listcontact[i].nom%></td>
            <td>
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal<%= i %>" id="butModal<%= i %>">
                    info
                </button>
                <div class="modal" id="myModal<%= i %>">
                    <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Info</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <p><%=listcontact[i].civility%></p><br>
                            <p><%=listcontact[i].prenom%></p><br>
                            <p><%=listcontact[i].nom%></p><br>
                            <p><%=listcontact[i].mail%></p><br>
                            <p><%=listcontact[i].adresse%></p><br>
                            <p><%=listcontact[i].code_postal%></p><br>
                            <p><%=listcontact[i].ville%></p><br>
                            <p><%=listcontact[i].pays%></p><br>
                            <p><%=listcontact[i].profession%></p><br>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                </div>
            </td>
        </tr>
      <%}%>
</table>